registry "https://artifactory3-eu1.moneysupermarket.com/artifactory/api/npm/money-npm/"
"@msm-money:registry" "https://artifactory3-eu1.moneysupermarket.com/artifactory/api/npm/money-npm/"

registry "https://artifactory3-eu1.moneysupermarket.com/artifactory/api/npm/npm-repo/"
"@msmg:registry" "https://artifactory3-eu1.moneysupermarket.com/artifactory/api/npm/npm-repo/"

registry "https://artifactory3-eu1.moneysupermarket.com/artifactory/api/npm/pim-npm/"
"@pim-ui:registry" "https://artifactory3-eu1.moneysupermarket.com/artifactory/api/npm/pim-npm/"
